# -------------------------
# Python virtual environments
# -------------------------
venv/
.env

# -------------------------
# Python cache files
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Distribution / build folders
# -------------------------
build/
dist/
*.egg-info/

# -------------------------
# VSCode (optioneel)
# -------------------------
.vscode/

# -------------------------
# IDE-specific
# -------------------------
.idea/
*.swp

# -------------------------
# Docker cache (optioneel)
# -------------------------
.dockerignore
