name: CI/CD - KH Monitoring App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: {}

env:
  IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/kh-monitoring-app

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code (clean)
        uses: actions/checkout@v4
        with:
          clean: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          docker build -t $IMAGE_NAME:latest .

      - name: Push image
        run: |
          docker push $IMAGE_NAME:latest

      - name: Save tag
        run: echo "IMAGE_TAG=$IMAGE_NAME:latest" >> $GITHUB_ENV

  deploy-bicep:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository (clean)
        uses: actions/checkout@v4
        with:
          clean: true

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Bicep
        uses: azure/cli@v2
        with:
          inlineScript: |
            az deployment group create \
              --resource-group ${{ secrets.AZURE_RG }} \
              --template-file infra/infra.bicep \
              --parameters containerImage=${{ env.IMAGE_TAG }}
